<!DOCTYPE html>
<html lang="tr">

<head>
<meta charset="UTF-8">
<title>Şifre Değiştir</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="auth-bg">

<div class="auth-container">

<div class="auth-box">

<h2 class="box-title">Şifre Değiştir</h2>

<form method="POST">

{% if session.get("logged_in") %}

<input type="password" name="old_password"
placeholder="Mevcut Şifre" required class="input-large">

{% else %}

<input type="text" name="code"
placeholder="Doğrulama Kodu" required class="input-large">

{% endif %}

<input type="password" name="new_password"
placeholder="Yeni Şifre" required class="input-large">

<button type="submit" class="auth-btn">
Güncelle
</button>

</form>

</div>
</div>

</body>
</html>