<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>şifremi unuttum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="auth-bg">

   <div class="app-header">
        <div class="app-title">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
            <span>NAKITDEFTER</span>
        </div>
        <div class="app-divider"></div>
    </div>
<body class="auth-bg">

<div class="auth-container">
    <div class="auth-box">

        <h2 class="box-title">Şifre Sıfırlama</h2>

        <form method="POST">
            <input type="email"
                   name="email"
                   placeholder="Email adresiniz"
                   class="input-large"
                   required>

            <button type="submit" class="auth-btn">
                Kod Gönder
            </button>
        </form>

        <div class="auth-link">
            <a href="{{ url_for('login') }}">Giriş sayfasına dön</a>
        </div>

    </div>
</div>
</body>
</html>